
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Cyan Management System</title>

  <!-- Bootstrap Core CSS -->
  <link href="../../../assets/css/bootstrap.min.css"
        rel="stylesheet">

  <!-- MetisMenu CSS -->
  <link href="../../../assets/css/metisMenu.min.css"
        rel="stylesheet">

  <!-- Timeline CSS -->
  <link href="../../../assets/css/timeline.css"
        rel="stylesheet">

  <!-- Custom CSS -->
  <link href="../../../assets/css/startmin.css"
        rel="stylesheet">

  <!-- Morris Charts CSS -->
  <link href="../../../assets/css/morris.css"
        rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="../../../assets/css/font-awesome.min.css"
        rel="stylesheet" type="text/css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">


  <!-- jQuery -->
  <script src="../../../assets/js/jquery.min.js"></script>


  <!-- Stylish Alert -->
  <script src="../../../assets/js/alertify.min.js"></script>
  <link rel="stylesheet"
        href="../../../assets/css/alertify.min.css" />
  <link rel="stylesheet"
        href="../../../assets/css/themes/default.min.css" />

</head>
<body>
<script type="text/javascript">
  alertify.set('notifier', 'position', 'top-center');
  if ("${message}" != "") {
    if("${message}" == "Email has been sent!" || "${message}" == "Emails have been sent!"){
      alertify.notify('${message}', "success" , 5, function() {
        console.log('dismissed');
      });
    }else{
      alertify.notify('${message}', "error" , 5, function() {
        console.log('dismissed');
      });
    }
  }
</script>

<div id="wrapper">

  <!-- Navigation -->
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation"
       style="background-color: #3071a9">
    <div class="navbar-header">
      <a class="navbar-brand"
         (click)="redirect('menu')"
         style="color: white; font-family: sans-serif; font-size: 22px">Cyan
        Management System</a>
    </div>

    <button type="button" class="navbar-toggle" data-toggle="collapse"
            data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span> <span
      class="icon-bar"></span> <span class="icon-bar"></span> <span
      class="icon-bar"></span>
    </button>


    <ul class="nav navbar-right navbar-top-links">
      <li class="dropdown"><a class="dropdown-toggle"
                              data-toggle="dropdown" href="#" style="background-color: #3071a9">
        <i class="fa fa-user fa-fw"></i>Welcome, {{username}} <b
        class="caret"></b>
      </a>
        <ul class="dropdown-menu dropdown-user">
          <li><a href="../../../assets/logout"><i
            class="fa fa-sign-out fa-fw"></i> Logout</a></li>
        </ul></li>
    </ul>
    <!-- /.navbar-top-links -->

    <div class="navbar-default sidebar" role="navigation">
      <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">

          <li class="sidebar-search">
            <div class="input-group custom-search-form">
              <input type="text" class="form-control" placeholder="Search...">
              <span class="input-group-btn">
									<button class="btn btn-primary" type="button">
										<i class="fa fa-search"></i>
									</button>
								</span>
            </div> <!-- /input-group -->
          </li>

          <li><a (click)="redirect('menu')"><i class="fa fa-dashboard fa-fw"></i>
            Dashboard</a></li>

          <li><a (click)="redirect('product')"><i
            class="fa fa-cubes fa-fw"></i> Products</a></li>

          <li><a (click)="redirect('order')"><i
            class="fa fa-cart-arrow-down fa-fw"></i> Orders</a></li>

          <li><a (click)="redirect('customer')"><i
            class="fa fa-users fa-fw"></i> Customers</a></li>

          <li ><a (click)="redirect('department')"><i
            class="fa fa-building-o fa-fw"></i> Departments</a></li>

          <li><a (click)="redirect('category')"><i
            class="fa fa-book fa-fw"></i> Categories</a></li>

          <li><a (click)="redirect('email')" class="active"><i
            class="fa fa-envelope fa-fw"></i> Emails</a></li>
        </ul>
      </div>
    </div>
  </nav>


  <!-- Content Begin  -->

  <div id="page-wrapper">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">
          Send Promotion Emails
        </h1>
      </div>
      <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            You can send to a particular user by entering the username. Or else to keep the username blank, you will send to all eligible users！
          </div>
          <div class="panel-body">

            <form role="form" method="POST"
                  action="../../../assets/email/send">
              <div class="row">
                <div class="col-lg-6">

                  <div class="form-group">
                    <label>Subject(*)</label> <input
                    name="subject" class="form-control" required>
                  </div>


                </div>

                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="username">Username</label> <input
                    id="username" class="form-control" name="username">
                  </div>

                </div>

              </div>

              <div class="row">
                <div>
                  <div class="form-group">
                    <label for="username">Message</label>
                    <textarea style="height:150px" id="message" class="form-control" name="message"></textarea>
                  </div>
                </div>
              </div>

              <div class="row">

                <div class="col-lg-6">
                  <div style="text-align: center">
                    <button type="submit" class="btn btn-primary"
                            style="width: 130px">Submit</button>
                  </div>
                </div>

                <div class="col-lg-6">
                  <div style="text-align: center">
                    <button type="reset" class="btn btn-primary"
                            style="width: 130px">Reset</button>
                  </div>
                </div>

              </div>
              <!-- /.row (nested) -->
            </form>
          </div>
          <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
      </div>
      <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /#page-wrapper -->


  <!-- Content End  -->






</div>
<!-- /#wrapper -->



<!-- Bootstrap Core JavaScript -->
<script src="../../../assets/js/bootstrap.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="../../../assets/js/metisMenu.min.js"></script>

<!-- Morris Charts JavaScript -->
<script src="../../../assets/js/raphael.min.js"></script>
<script src="../../../assets/js/morris.min.js"></script>
<script src="../../../assets/js/morris-data.js"></script>

<!-- Custom Theme JavaScript -->
<script src="../../../assets/js/startmin.js"></script>
</body>
